@import "https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap";

/**affectation de la police*/
body {
    font-family: "Raleway", "Sans serif ";
    background-color: #ffffff;
}

.margecote {
    margin-left: 1rem;
    margin-right: 1rem;
}


h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.45rem;
    font-weight: bold;
}

h3 {
    font-size: 1.35rem;
    font-weight: bold;
}

h4 {
    font-size: 1.20rem;
    font-weight: bold;
}

h5 {
    font-size: 1.15rem;
    font-weight: bold;
}

h6 {
    font-size: 1.00rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: -2px;
}


.logo {
    display: flex;
    align-items: baseline;

}

/**navigation**/
nav {
    vertical-align: top;
    margin-right: 2rem;
    margin-top: -25px;
    /*!*/
}

nav ul {
    list-style-type: none;
    display: flex;
    vertical-align: top;

}

nav li {
    display: flex;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: 9rem;
    height: 3rem;
    justify-content: center;
}

nav a {
    font-size: 1.2em;
    padding-bottom: 2px;
}

/**parametre desktop et responsive**/
.liinscrire,
.inscrireresponsive {
    font-weight: bold;
    color: #0065fc;
}

.lihebergement:hover,
.liactivite:hover {
    color: #0065fc;
    border-top: 7px solid #0065fc;

}


.hebergementresponsive:hover,
.activiteresponsive:hover {
    color: #0065fc;
    border-bottom: 7px solid #0065fc;
    width: 100%;
}

.lihebergement,
.liactivite,
.liinscrire {
    padding-top: 1.25rem;

}


/*menu responsive***/


.liinscrire {
    color: #0065fc;
}

.liinscrire:hover {
    background-color: #0065fc;
    color: #ffffff;
}


.conteneurresponsive {
    display: flex;
    flex-direction: column;
    float: left;
}

.menuresponsive {
    display: flex;
    justify-content: center;
}

.inscrireresponsive {
    float: left;
}

.menuresponsive {
    display: none;
}

.ulresponsivebas {
    width: 100%;
}


.fas,
.fa-search,
.loupes {
    display: none;
}


#recherche {
    margin-top: 40px;
}

#barrerecherche {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.h1responsive {
    margin-bottom: 30px;
}

.filtre {
    display: flex;
    flex-wrap: nowrap;
}



.icone {
    background-color: #ffffff;
    margin: 1.25rem;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 1.5rem;
    position: relative;
    padding-left: 2.5rem;
    height: 2.25rem;
    cursor: pointer;
    transition-property: background;
    transition-timing-function: linear;
    transition-duration: 2s;
}



.icone:hover {
    background-color: #0065fc;
}


.filtretitre {
    padding-top: 1rem;
}

.filtretexte {
    padding-right: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 1.5rem 0 1.5rem;
    height: 2.25rem;
    line-height: 2.25rem;
}


.rechercheresponsive {
    display: none;
    margin-left: -4px;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
}

.site-search {
    height: 2.5rem;
    width: 18.75rem;
    font-size: 1.2rem;
    background-color: #ffffff;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #f2f2f2
}


.boutonrecherche {
    background-color: #0065fc;
    font-size: 1.2rem;
    border-radius: 0 1rem 1rem 0;
    color: #ffffff;
    margin-left: -5px;
    height: 2.5rem;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-color: #f2f2f2;
}

.boutonrecherche:hover {
    background-color: #deebff;
    color: #0065fc;
}


.iconemap {
    font-size: 1.2rem;
    vertical-align: -11px;
    margin-left: 5px;
    background-color: #f2f2f2;
}

.iconerecherche {
    position: relative;
    height: 38px;
    width: 2rem;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;

}


/**icones***/
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: #0065fc;
    background-color: #DEEBFF;
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 0.5rem;
    position: absolute;
    top: -3px;
    left: -5px;
}

.iconefiltre {
    height: 26px;
    width: 26px;
    line-height: 2.5rem;
}

i:hover {
    background-color: #0065fc;
    color: #deebff;
}


.filtre {
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
}


.fa-info {
    font-size: 1.0rem;
    border-radius: 50%;
    color: #0065fc;
    padding: 6px 9px;
    background-color: #f2f2f2;
    border: 5px solid #f2f2f2;
}


/*section*/
main {
    display: flex;
}

#blochebergement,
.blocpopulaire {
    background-color: #f2f2f2;
    border-radius: 1.2rem;
    padding: 20px;
}

.prix {
    font-weight: bold;
}


/* ! hebergement**********/

.hebergement_populaire {
    margin-right: 25px;
}

.titrebloc p {
    margin: 0;
}

#blochebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blochebermentimage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.titrehebergement {
    width: 100%;
}

.titrehebergement h4 {
    margin-bottom: 0;
}

.blocpopulaire {
    order: 1;
    display: flex;
    flex-direction: column;
}

/*etoile******/
.fa-chart-line {
    margin-left: 6rem;
}

.fa-star {
    color: #0065fc;
    font-size: 0.9rem;
    margin-left: 1rem;
    letter-spacing: -50ch;
}

.claire {
    color: #deebff;
}

.fas.fa-star.first {
    margin-left: 0px;
}



.descriptif {
    margin-left: 10px;
    margin-top: -25px;
}

.textedescriptif {
    margin-top: -25px;
}

.img75 {
    display: flex;
    padding: 1px 2px 1px 2px;
    flex-direction: column;
    white-space: normal;
    border: 4px solid #ffffff;
    background-color: #ffffff;
    border-radius: 1.2rem;
    width: 25%;
    height: 17.5rem;
    margin-top: 2rem;
    margin-right: 1.2rem;
    box-shadow: 2px 2px 2px #858484;
}

.imgheb {
    width: 100%;
    border-radius: 1.2rem;
    height: 10rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.img75:hover {
    transform: scale(1.02);
}


.aminata,
.hotelmer {
    -o-object-fit: cover;
    object-fit: cover;
}


/*****! populaire****/
.titrebloc {
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.titrebloc h5 {
    font-size: 1rem;
    margin: 0;
}

.lienpopulaire {
    display: inline-block;
    float: left;
    display: flex;
    width: 98%;
    background-color: #ffffff;
    border: 5px solid #fdfbfb;
    border-radius: 1.25rem;
    box-shadow: 2px 2px 2px #858484;
}



.iconpop {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}


.blocimag25 {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 1.2rem;
    padding: 20px 0;
}


.img25 {
    min-width: 18.00rem;
    padding: 3px;
    border-radius: 1.2rem;
    margin-bottom: 10rem;
}


.imgpop {
    width: 40%;
    float: left;
    margin-right: 5px;
    border-radius: 1rem 0 0 1rem;
}

.blocimg25:hover {
    transform: scale(1.02);
}


.hebdescriptif {
    margin-left: 1rem;
}


/**conteneur activites*************/

#activitemarseille {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.titremarseille {
    margin-left: 15px;
}

.activite {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.blocactivite {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.activitetitre {
    margin-left: 10px;
}

.activitetitregrd {
    margin-left: 10px;

}

.lienactivitegrd {
    background-color: #ffffff;
    margin-bottom: 0.5rem;
    border-radius: 1.2rem 1.2rem;
    box-shadow: 0px 2px 0px #858484;
}


.imgact {
    width: 100%;
    overflow: hidden;
    height: 29rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}

.lienactivitegrd:hover {
    transform: scale(1.01);
}

.imgactptt {
    width: 100%;
    height: 11.5rem;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}

/**********************************footer************/

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none
}

.footerliste {
    margin-left: -40px;
    font-size: 1rem;
    margin-top: 0;
}

.apropos,
.noshebergements,
.assistance {
    width: 33%;
    font-size: 1rem;
    padding: 0.5rem;

}



.apropos {}

.noshebergements {}

.assistance {}

/**********Responsive************/

/* ! reponsive en  781 1024*/

@media all and (min-width: 781px) and (max-width: 1024px) {
    .img75 {
        width: 40%;
    }

}


.filtre {
    display: flex;
    flex-wrap: wrap;
}

.icone {
    margin: 1.25rem 0.5rem 1.25rem 0px;
}


.filtretitre {
    margin-right: 1rem;
}

/* ! reponsive en 780 */



@media all and (max-width: 780px) {

    header {
        display: flex;
        flex-direction: column;
    }

    body {
        max-width: 780px;
        width: 98%;
    }

    /*! menu****/

    nav a {
        font-size: 1.2rem;
        text-align: center;
    }

    .menu {
        display: none;
    }

    .menuresponsive {
        display: block;
    }


    .conteneurliresponsivehb {
        display: flex;
        width: 40%;
        position: absolute;
        left: 40px;
    }

    .conteneurliresponsive {
        display: flex;
        width: 40%;
        position: absolute;
        right: 40px;
    }


    .inscrireresponsive {
        position: absolute;
        top: 1.25rem;
        right: 2.5rem;
    }

    .ulresponsivebas {
        display: flex;
        margin-top: -50px;
        justify-content: space-around;
    }

    .conteneurliresponsivehb {
        position: absolute;
        left: 1rem;
        width: 40%;
    }


    .h1responsive {
        font-size: 1.2rem;
    }

    /* ! recherche **/
    .recherche {
        margin-top: 50px;
    }

    .barrerecherche {
        display: flex;
        width: 10rem;
    }

    .boutonrecherche {
        display: none;
    }

    .recherchetexte {
        display: none;
    }

    .rechercheresponsive {
        display: block;
        background-color: #0065fc;
        border-radius: 0.8rem;
    }


    .loupes {
        font-size: 1.25rem;
        color: #ffffff;
        background-color: #0065fc;
    }

    /**! filtres****/
    .filtre {
        display: flex;

        flex-direction: column;
        width: 16rem;
    }

    .icone {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .filtretexte {
        margin: 0 0.2rem 0 0.2rem;
        font-size: 1.0rem;
        text-align: center;
    }

    .filtretitre {
        clear: both;
        display: block;
        width: 100%;
    }


    /*section*/
    main {
        display: flex;
        flex-direction: column-reverse;
        max-width: 95%;
    }



    .blochebergement {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .blochebermentimage {
        display: flex;
        flex-direction: column;
    }

    .img75 {
        display: flex;
        padding: 1px 2px 1px 2px;
        flex-direction: column;
        white-space: normal;
        border-radius: 1.2rem;
        max-width: 780px;
        width: 97%;
        overflow: hidden;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .blocpopulaire {
        order: 1;
        width: 100%;
    }

    .img25 {
        padding: 3px;
        border-radius: 1.2rem;
    }

    .imgpop {
        height: 9rem;
    }

    /********!bloc acitivité*/

    aside {
        max-width: 780px;
        width: 100%;
    }


    .activite {
        display: flex;
        flex-direction: column;
    }

    .popdescriptif {
        margin-top: -29px;
    }

    .blocimag25 {
        width: 100%;
    }


    .blocactivite {
        width: 100%;
    }



    .imgact {
        height: 10.5rem;
        display: block;
        overflow: hidden;
    }

    .imgactptt {
        width: 100%;
        height: 10.5rem;
        display: block;
        overflow: hidden;
        margin: auto;
    }

    .lienactivitegrd {
        background-color: #ffffff;
        margin-bottom: 1rem;
        border-radius: 1.2rem 1.2rem;
        width: 100%;
    }

    /* ! footer ****/


    footer {
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
    }

    .apropos,
    .noshebergements,
    .assistance {
        width: 100%;
    }

}

@media all and (max-width: 480px) {

    .site-search {
        width: 15rem;
    }



    .icone {
        margin-top: 0px;
    }

}