/* importation police */
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap";

/*affectation de la police */
body {
    font-family: "Raleway", "Sans serif ";
   margin: 15px;
    background-color: #DEEBFF;

}



h1 {
    font-size: 1.25rem;
    font-weight: bold;
}

h2 {
    font-size: 1.15rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}


header {
    display: flex;
    justify-content: space-between;


}


.logo {
    display: flex;
    /*flex-direction: row;*/
    align-items: baseline;

}

/* navigation--------------------------*/
nav {
    vertical-align: top;
    

}

nav ul {
    list-style-type: none;
    display: flex;
    vertical-align: top;
}

nav li {
    margin-right: 0.5rem;
}

nav a {

    font-size: 1.2em;
    padding-bottom: 2px;
    text-decoration: none;
}


.fa-folder-plus, .fa-child, .fa-heart, .fa-dog {
    color: #0065fc;
    background-color: #DEEBFF;
    font-size: 1.6rem;
    border-radius: 50%;
   padding: 0.5rem;
   
}

.fa,
.fas {
    color: #0065fc;
    font-size: 1rem;

    border-radius: 35px;
    padding: 0px 2px 0px 2px;
}

/**************bordure des filtres et recherche ********/
#filtre {
    margin-top: 2rem;
}
 .icone {
    background-color: #ffffff;
  margin: 15px;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 1.5rem;
}

.filtretexte {

    font-size: 1rem;
    font-weight: bold;
    margin: 0 1.5rem 0 1.5rem;
}

.site-search {
    border: 1px solid #F2F2F2;
    border-radius: 1.5rem;
    font-size: 1.5rem;
}
.fa-map-marker-alt {
    font-size: 1.5rem;
    background-color: #f2f2f2;
}

.boutonrecherche {
    background-color: #0065fc;
    font-size: 1.2rem;
    border-radius: 0 1rem 1rem 0;
    color: #ffffff;
}
.bottonrecherche:hover {
    background-color: #487dcc;
}

/* iconnes------------------- */

.filtre {
    display: flex;
    justify-content: flex-start;
}
/*************************************************/
/***************************************************/
/****************************************************/
/**......************************************************************************************/
section {
   /* margin: 5px;*/
    display: flex;

}



.blochebergement,
.blocpopulaire {
    background-color: #f2f2f2;
   border-radius: 1.5rem ;
   margin: 5px;

}

.blochebergement {
    /*flex: 1; responsive nomme class*/
    display: flex;
    flex-wrap: wrap;
    
   
    

}

.blochebermentimage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
/*******************************************/
/*****************************************/
.blocpopulaire {
    order: 1; /* resposive nomme class*/
    
    display: flex;
    flex-direction: column;


}


.fa-chart-line {
    margin-left: 6rem;
   
}

.fa-star {
    color: #0065fc;
    font-size: 0.7rem; 
    margin-left: 1rem;
    letter-spacing: -00.2rem;
}

.fa-star.claire {
    color: #0a382a;
}


figcaption {
    display: inline-block;
    font-size: 0.75rem;
    margin-left: 1rem;
}

.titrebloc {
    margin: 2px 0 0 10px;
}


/*
.blocimg75 {

    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 2px;

} */


.img75 {
    display: flex;
    padding: 1px 2px 1px 2px;
    flex-direction: column;
    white-space: normal;
    border: 4px solid blue;
    background-color: #ffffff;
    border-radius: 1.5rem;
    width: 25%;

}

.imgheb {

    width: 100%;
    border-radius: 1.5rem;
    /*
    justify-content: center;
    object-fit: cover;
*/
}

.aminata {
 
    
}
.lienherbergement {
    text-decoration: none;
    color: #000000;
    border-radius: 1.5rem;
   
    overflow: hidden;
    height: 200px;
}
/********bloc populaire****************************************/
/******* position icone populaire*/
.lienpopulaire {
    text-decoration: none;
    color: #000000;
 /*   border-radius: 1.5rem;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    overflow: hidden;*/
    display: inline-block;
    width: 40%;
    float: left;
    


    

}


.iconpop {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    
}


.blocimag25 {
    display: flex;
    flex-direction: column;
   
    align-content: center;
    
    border-radius: 15px;
    border: 3px solid red;

}

.img25 {

 max-height: 9.5rem;
 min-width: 18.00rem;
 max-width: 30.00rem;
 padding: 3px;
 margin-inline-start: 1px;
 
 margin-inline-end: 5px;
   border-radius: 15px;
 border: 3px solid #ad05fc;
    background-color: #f70a9c;
}


.imgpop {
    width: 130px;

    float: left;
    height: 120px;
    border-radius: 1rem 0 0 1rem;

}


.prix {
    font-weight: bold;
}

.hebdescriptif {
    margin-left: 15px;
}
/**

.popdescriptif {
    padding-top: 1rem;
    padding-left: 50px;

}



/**conteneur activites *************************************************************************/
/**************************************************/
/*************************************************/

.blocactiviteimage {
    width: 100%;
   
   
}

.colonneactivite1, .colonneactivite2, .colonneactivite3, .colonneactivite4 {
    
    display: flex;
    flex-direction: column;
    /* width: 100%;
    height: 40rem;


   /* overflow: hidden;*/
 width: 16rem;
    height: 40rem;

}
.colonneactivite1 {
    background-color: red;
}

.colonneactivite2 {
    background-color: blue;
}
.colonneactivite1 {
    background-color: green;
}
.colonneactivite1 {
    background-color:yellow;
}

.blocactiviteimage {
    display: flex;
   
}



.imgactgr {
  overflow: hidden;
  /* 
   width: 16rem;*/
    height: 34rem; 
    width: 15rem;
    background-color: #ffffff;
    border: 3px solid #f2f2f2;
    border-radius: 1.5rem;
     
   margin-inline-start: 1rem;
    margin-inline-end: 1rem;

}

/*****conteneur 2 images**************/
.conteneur2images {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
   
}
.blocactiviteimage {
    display: flex;
    justify-content: space-around;
    
}

.image {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    border: 3px solid #ffffff;
}
.imgactpetite {
    overflow: hidden;
    width: 16rem;
    height:  11em;
    border-radius: 1.5rem 1.5rem 0 0;
   /**
    margin-inline-start: 10px;
    margin-inline-end: 10px;**/
}


/****************************************************************footer************/
/*******************************************************/
/*********************************************************/
footer {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;


}


#apropos,
#noshebergements,
#assistance {
    width: 16rem;

    font-size: 1rem;
    padding: 0.5rem;

}

#apropos {
  /*  padding-right: 9.5rem;*/

}

#noshebergements {}

#assistance {}

/*************************Responsive ******************************************/
/*****************************************************************************
@media all and (max-device-width: 1024px) {

   
    body {
      
        align-content: center;
    }


    .filtre {
        display: flex;
        flex-wrap: wrap;
    }
.filtretexte{
    margin: 0 0.5rem;
}
    .icone {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
    }

 section {
        display: flex;
       flex-direction: column; 
        background-color: brown;
        width: 100%;
    }
    .blochebergement {
        display: grid;
        margin: 15px;
        flex: 1;
        order: 2;
        
    }

    .blochebergementimage {
        margin: 20px;
        display: flex;
    }


    .blocpopulaire {
        display: flex;
        order: 1;
        
        
     }
       
    .blocimg25 {
     
        display: flex;
        width: 100%;
    }
   
   .img25 {
       background-color: darkslateblue;
       width: 100%;
       display: flex;
     
   }
 
.img25 {
   
    display: flex;
    display: grid;
}
********************************
.blocactiviteimage {
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
}

.colonneactivite {
    width: 100%;
    background-color: darkslateblue;
    padding: 10px;
}

.imgactgr {
    width: 100%;
   display: block;
   overflow: hidden;
}

.imgheb {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
}


----------------------------------------------------------------------
.blocativite {
    display: flex;
    flex-direction: column;
}
.blocactiviteimage {
    display: flex;
    flex-direction: column;
}

.

 .imgactpetite {
     width: 100%;
 }


   

       


}
****/
/*


@media all and (max-device-width: 468px) {
    .barrerecherche {
        display: flex;
        width: 10rem;
    }
    
    body {
        background-color: rgb(255, 230, 0);
    }
 nav {
     display: flex;
     flex-wrap: wrap;
 }
    nav a {
        display: flex;
        font-size: 1rem;
        margin-right: 0px;
        justify-content: space-around;
    }


    .site-search {
        width: 10rem;
    }

    .filtre {
        display: flex;
       max-width: 360px;
        justify-content: space-between;
        margin: 0px;
    }
    .filtretexte {
        margin: 0 0.2rem 0 0.2rem;
        font-size: 1.0rem;
        text-align: center;
       
    }
}

*/