/* importation police */
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap";

/*affectation de la police */
body {
    font-family: "Raleway", "Sans serif ";
    margin: 15px;
    background-color: #DEEBFF;

}



h1 {
    font-size: 1.25rem;
    font-weight: bold;
}

h2 {
    font-size: 1.15rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}


header {
    display: flex;
    justify-content: space-between;


}


.logo {
    display: flex;
    /*flex-direction: row;*/
    align-items: baseline;

}

/* navigation--------------------------*/
nav {
    vertical-align: top;

}

nav ul {
    list-style-type: none;
    display: flex;
    vertical-align: top;
}

nav li {
    margin-right: 20px;
}

nav a {

    font-size: 1.3em;
    padding-bottom: 2px;
    text-decoration: none;
}


.fa-folder-plus, .fa-child, .fa-heart, .fa-dog {
    color: #0065fc;
    background-color: #DEEBFF;
    font-size: 1.6rem;
    border-radius: 50%;
   padding: 0.5rem;
   
}

.fa,
.fas {
    color: #0065fc;
    font-size: 1rem;

    border-radius: 35px;
    padding: 0px 2px 0px 2px;
}

/**************bordure des filtres et recherche ********/
#filtre {
    margin-top: 2rem;
}
 .icone {
    background-color: #ffffff;
  margin: 15px;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 20px;
}

.filtretexte {

    font-size: 1rem;
    font-weight: bold;
    margin: 0 25px 0 25px;
}

.site-search {
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    font-size: 1.5rem;
}
.fa-map-marker-alt {
    font-size: 1.5rem;
    background-color: #f2f2f2;
}

.boutonrecherche {
    background-color: #0065fc;
    font-size: 1.2rem;
    border-radius: 0 1rem 1rem 0;
    color: #ffffff;
}
.bottonrecherche:hover {
    background-color: #487dcc;
}

/* iconnes------------------- */

#filtre {
    display: flex;
    justify-content: flex-start;
}
/*************************************************/
/***************************************************/
/****************************************************/
/**......************************************************************************************/
section {
    margin: 5px;
    display: flex;

}



.blochebergement,
.blocpopulaire {
    background-color: #f2f2f2;
   border-radius: 20px ;
   margin: 5px;

}

.blochebergement {
    display: flex;
    flex-wrap: wrap;
   
    

}

.blochebermentimage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
/*******************************************/
/*****************************************/
.blocpopulaire {
    
    display: flex;
    flex-direction: column;


}


.fas fa-chart-line {
    align-content: left;
}

figcaption {
    display: block;
    font-size: 0.75rem;
}

.titrebloc {
    margin: 2px 0 0 10px;
}



.blocimg75 {

    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 2px;

}


.img75 {
    display: flex;
    padding: 1px 2px 1px 2px;
    flex-direction: column;
    white-space: normal;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;


}
.fa-star {
    color: #0065fc;
    font-size: 0.8rem;
}

.fa-star.claire {
    color: #DEEBFF;
}

.imgheb {

    width: 100%;

    max-width: 10.5rem;
    max-height: 9.4rem;
    min-width: 12.5rem;
    min-height: 9.4rem;
    border-radius: 10px;
    padding: 2px;

}

/********bloc populaire****************************************/
/******* position icone populaire*/
.iconpop {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    
}


.blocimag25 {
    display: flex;
    flex-direction: column;
    
    align-content: center;
    border-radius: 10px;


}

.img25 {

 max-height: 9.5rem;
 min-width: 18.00rem;
 max-width: 30.00rem;
 padding: 3px;
 margin-inline-start: 1px;
 border-radius: 1.2rem;
 margin-inline-end: 5px;
   

}


.imgpop {
   width: 7.5rem;
    height: 8.0rem;

    border-radius: 1.2rem 0 0 1.2rem;
    padding: 0.5rem;
    float: left;

}


.prix {
    font-weight: bold;
}

.hebdescriptif {
    padding: 5px 5px 5px 5px;
}

.popdescriptif {
    padding-top: 1rem;
    padding-left: 50px;

}

.liens {
    text-decoration: none;
    color: #000000;
}

/**conteneur activites *************************************************************************/
/**************************************************/
/*************************************************/

.blocactiviteimage {
    width: 100%;
    background-color: blueviolet;
}

.colonneactivite {
    
    display: flex;
    flex-direction: column;
    width: 250px;


}

.blocactiviteimage {
    display: flex;
   
}



.imgactgr {
    overflow: hidden;
    
    max-width: 250px;
    height: auto;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-inline-start: 10px;
    margin-inline-end: 10px;

}

/*****conteneur 2 images**************/
.conteneur2images {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.image {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}
.imgactpetite {
    overflow: hidden;
    max-width: 250px;
    height: auto;
    border-radius: 1.5rem 1.5rem 0 0;
}

/********************************************

.activite {
    comprend le titre et la totlaite image
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blocimgactivite {
    comprend les 2 colonnes de 3 images chacune
    background-color: blueviolet;
    display: flex;
    flex-wrap: nowrap;

}



.bloc3imagesactivite {
    background-color: darkorange;
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    max-height: auto;
    top: 0px;


}





.imgactivite1 {
    background-color: #fc0606;

    width: 50%;

    display: block;




}

 
.imgactivitegrande {
   max-width: 100%;
max-height: 100%; 
overflow: hidden;

    display: block;

    margin: 10px 2px 2px 10px;
    
}

.imgactgr {
    overflow: hidden;
    margin: 0px 10px 0px 0px;
    height: 100%;
    border-radius: 1.5rem 1.5rem 0 0;

}
.image {
    margin: 0px;
    height: 8rem;
}
 /*
.imgactivite2 {
     background-color: darkseagreen; 

    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: auto;
    padding-top: 0px;
    overflow: hidden;
    display: block;
}

.imgact {
    /*
    max-width: 100%;
    overflow: hidden;
display: block;
   
    
    overflow: hidden; 
    width: 100%;
    height: 8rem;
    justify-content: center;
    object-fit: cover;

    
}


.imgactconteneur {
    background-color: #0065fc;
    display: flex;
    width: 100%;
    height: 40%;
    display: block;
   overflow: hidden;
}

.image {
    margin: auto;
    display: block;
   /* overflow: hidden;
      max-height: 100%;
    width: 100%;
}

.imgactpetite {
    width: 100%;
    height: auto;
    object-fit: cover;
}
*/


/****************************************************************footer************/
/*******************************************************/
/*********************************************************/
footer {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;


}


#apropos,
#noshebergements,
#assistance {
    width: 16rem;

    font-size: 12px;

}

#apropos {
    padding-right: 9.5rem;

}

#noshebergements {}

#assistance {}

/*************************Responsive ******************************************/
/******************************************************************************/
@media all and (max-device-width: 480px) {

    body {
        background-color: springgreen;
    }

        {
        color: #ffffff;
    }


}