/* importation police */
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap";

/*affectation de la police */
body {
    font-family: "Raleway", "Sans serif ";
    margin: 10px;
    background-color: #ffffff;
}



h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.45rem;
    font-weight: bold;
}

h3 {
    font-size: 1.35rem;
    font-weight: bold;
}

h4 {
    font-size: 1.20rem;
    font-weight: bold;
}

h5 {
    font-size: 1.15rem;
    font-weight: bold;
}

h6 {
    font-size: 1.10rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;


}


.logo {
    display: flex;

    align-items: baseline;

}

/* navigation--------------------------*/
nav {
    vertical-align: top;
    margin-right: 2rem;


}

nav ul {
    list-style-type: none;
    display: flex;
    vertical-align: top;
    justify-content: center;
}

nav li {
    display: flex;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: 9rem;
    height: 2rem;
    justify-content: center;

}

nav a {

    font-size: 1.2em;
    padding-bottom: 2px;


}

nav li:hover {
    background: #0065fc;
    color: #deebff
}

.menucouleur {
    color: #deebff;
}

.fas,
.fa-search,
.loupe {
    display: none;
}

/**************bordure des filtres et recherche ********/
#filtre {
    margin-top: 2rem;
}

.icone {
    background-color: #ffffff;
    margin: 20px;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 1.5rem;
}

.icone:hover {
    background-color: #0065fc;
    border-color: #deebff;

}

.filtretitre {
    padding-top: 1rem;
}

.filtretexte {

    font-size: 1rem;
    font-weight: bold;
    margin: 0 1.5rem 0 1.5rem;
}

/* !a supprimer color recherche */
#barrerecherche {
    display: flex;
}

/* !fin supprimer */
.site-search {
    border: 1px solid #F2F2F2;
    height: 40px;
    width: 300px;

    font-size: 1.4rem;

    background-color: #Fffff;

}

.fa-map-marker-alt {
    font-size: 2.5rem;


    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 10px 0 0 10px;
    border-right-color: #ffffff;
}

.boutonrecherche {
    background-color: #0065fc;
    font-size: 1.2rem;
    border-color: 1px solid #e6a00b;
    border-radius: 0 1rem 1rem 0;
    color: #ffffff;
    margin-left: -5px;
}

.bottonrecherche:hover {
    background-color: #deebff;
}

/* icones------------------- */
.fa-folder-plus,
.fa-child,
.fa-heart,
.fa-dog {
    color: #0065fc;
    background-color: #DEEBFF;
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 0.5rem;


}

i:hover {
    background-color: #0065fc;
    color: #deebff;
}


.filtre {
    display: flex;
    justify-content: flex-start;
}

.filtre:hover {
    background-color: #deebff;
}

.fas,
.fa-info {
    color: #0065fc;

    background-color: #f2f2f2;
}

/*************************************************/
section {

    display: flex;

}



.blochebergement,
.blocpopulaire {
    background-color: #f2f2f2;
    border-radius: 1.2rem;
    margin: 5px;


}

.prix {
    font-weight: bold;
}


/* ! hebergement**********/

.blochebergement {

    display: flex;
    flex-wrap: wrap;

}

.blochebermentimage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}


.blocpopulaire {
    order: 1;

    display: flex;
    flex-direction: column;


}

/* etoile******/
.fa-chart-line {
    margin-left: 6rem;

}

.fa-star {
    color: #0065fc;
    font-size: 0.9rem;
    margin-left: 1rem;
    letter-spacing: -50ch;
}

.claire {

    color: #deebff;
}


figcaption {
    display: inline-block;
    font-size: 0.75rem;
    margin-left: 1rem;
}

.titrebloc {


    margin-block-start: 0.5rem;
    margin-block-end: 1.6rem;
}

.titrehebergement {
    margin-left: 1rem;
}

/**image hebergement***/
.img75 {
    display: flex;
    padding: 1px 2px 1px 2px;
    flex-direction: column;
    white-space: normal;
    border: 4px solid #ffffff;
    background-color: #ffffff;
    border-radius: 1.2rem;
    width: 25%;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

.imgheb {

    width: 100%;
    border-radius: 1.2rem;

}

.aminata,
.hotelmer {

    object-fit: cover;
    height: 100%;

}


.lienherbergement {
    border-radius: 1.2rem;
    overflow: hidden;
    height: 150px;
}

/*   ****! populaire ****/

.lienpopulaire {

    display: inline-block;
    width: 40%;
    float: left;

}


.iconpop {
    display: flex;
    justify-content: flex-end;
    text-align: right;

}


.blocimag25 {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 1.2rem;

}


.img25 {

    max-height: 9.5rem;
    min-width: 18.00rem;
    max-width: 30.00rem;
    padding: 3px;
    margin-inline-start: 1px;
    margin-inline-end: 5px;
    border-radius: 1.2rem;
    border: 3px solid #ffffff;
    background-color: #ffffff;
}


.imgpop {
    width: 100%;
    float: left;
    height: 7.5rem;
    border-radius: 1rem 0 0 1rem;

}




.hebdescriptif {
    margin-left: 1rem;
}


/**conteneur activites ***************************************************************/
/*********************************/
/*********************************/
.activitemarseille {
    display: flex;
    flex-direction: column;
}

.activitemarseille {
    margin-left: 5px;
}

.activite {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    justify-content: space-around;
}

.blocactivite {
    display: flex;
    flex-direction: column;

    width: 20%;
}

.activitetitre {
    margin-left: 10px;
}

.lienactivitegrd {
    background-color: #ffffff;
    margin-bottom: 0.5rem;
    border-radius: 1.2rem 1.2rem;
}


.imgact {
    width: 100%;
    overflow: hidden;
    height: 29rem;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}

.imgactptt {
    width: 100%;
    height: 11rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}

/**********************************footer************/

footer {
    display: flex;
    flex-direction: row;


}

ul {
    list-style: none
        /*padding-inline-start: 0px;*/
}

.footerliste {
    /*background-color: blue;*/
    font-size: 1rem;
    margin-top: 0;
}

.apropos,
.noshebergements,
.assistance {
    width: 33%;
    font-size: 1rem;
    padding: 0.5rem;

}

.footertitre {
    margin-left: 40px;
}

.apropos {}

.noshebergements {}

.assistance {}

/*************************Responsive ******************************************/
/****/
/****/
/***/
/***/

@media all and (min-device-width: 640px) and (max-device-width: 1024px) {


    body {
        width: 100%;
        align-content: center;
        min-width: 640px;
    }

    .filtre {
        display: flex;
        flex-wrap: nowrap;
    }

    .filtretexte {
        margin: 0 0.5rem;
    }

    .icone {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
    }

    section {
        display: flex;
        flex-direction: column;
        background-color: rgb(21, 79, 240);
        max-width: 100%;
        margin: 25px;

    }

    .fa-search {
        display: none;
    }

    /***************************************************/

    .blocpopulaire {
        display: flex;
        order: 1;
        background-color: red;
        width: 100%;

    }

    .blocimg25 {

        display: flex;
        width: 100%;
        justify-content: center;

    }



    .lienpopulaire {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .img25 {
        background-color: darkslateblue;
        width: 100%;
        display: flex;
        top: 1rem;
        margin: 1rem;
    }


    /****************************************************************/


    .blochebergement {
        display: grid;
        margin: 15px;
        flex: 1;
        order: 2;


    }

    .blochebergementimage {
        margin: 20px;
        display: flex;
    }


    .img75 {
        width: 100%;
        object-fit: cover;

    }

    .imgheb {
        width: 100%;

    }

    /************************************************************/


    /*activite*****************/
    .activitemarseille {
        display: flex;
        flex-direction: column;
    }

    .activite {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .blocactivite {
        width: auto;
        justify-content: center;
        margin: 1rem;
        display: flex;
        flex-direction: column;
    }




    .imgact {
        width: 100%;
        height: 10.5rem;
        display: block;
        overflow: hidden;
    }





    footer {
        display: flex;
        flex-direction: column;
    }



}




/* ! reponsive en 640 */

/* ? voir pourquoi le body ne rete pas en plein ecran */

@media all and (max-device-width: 639px) {


    body {
        background-color: rgb(255, 230, 0);
        max-width: 639px;
        width: 95%;


    }

    /*! menu****/

    nav {
        display: flex;
        flex-wrap: wrap;
    }


    nav a {
        display: flex;
        font-size: 1rem;
        margin-right: 0px;
        justify-content: space-around;
    }


    /* ! recherche **/
    .barrerecherche {
        display: flex;
        width: 10rem;
    }


    .site-search {
        width: 10rem;
    }

    .recherchetexte {
        display: none;
    }

    /**! filtres****/
    .filtre {
        display: flex;
        flex-wrap: wrap;

        margin: 0px;
    }

    .filtretexte {
        margin: 0 0.2rem 0 0.2rem;
        font-size: 1.0rem;
        text-align: center;

    }


    /**! section ***/

    section {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 2, 99);
        /*
            width: 98%;
          max-width: 600px;
          width: 800px;
             margin: 5px;*/

    }

    /**! bloc hebergement ****/

    .blochebergement {
        display: flex;
        flex-direction: column;
        flex: 1;
        order: 2;
        justify-content: center;


    }


    .blochebermentimage {
        display: flex;
        flex-direction: column;
    }

    .img75 {
        display: flex;
        padding: 1px 2px 1px 2px;
        flex-direction: column;
        white-space: normal;
        border: 4px solid #ffffff;
        background-color: #ffffff;
        border-radius: 1.2rem;
        width: 90%;
        overflow: hidden;

    }

    .imgheb {}

    /*****!bloc populaire */

    .blocpopulaire {
        display: flex;
        order: 1;
        /*  background-color: red;*/


    }

    .img25 {
        max-height: 55rem;

        width: 100%;
        padding: 3px;
        margin-inline-start: 1px;
        margin-inline-end: 5px;
        border-radius: 1.2rem;
        border: 3px solid #ffffff;
        background-color: #ffffff;
    }

    .imgpop {

        width: 100%;
        height: 10rem;
    }

    /********!bloc acitivité*/

    aside {
        max-width: 640px;
        background-color: hotpink;
        width: 100%;
    }


    .activite {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .blocactivite {
        width: 100%;
    }

    .blocimag25 {
        width: 100%;
    }

    .imgact {

        height: 10.5rem;
        display: block;
        overflow: hidden;
    }

    .imgactptt {
        width: 100%;
        height: 10.5rem;
        display: block;
        overflow: hidden;
        margin: auto;
    }

    .lienactivitegrd {
        background-color: #ffffff;
        margin-bottom: 1rem;
        border-radius: 1.2rem 1.2rem;
        width: 100%;
    }

    /* ! footer ****/


    footer {
        display: flex;
        flex-direction: column;
    }
}